%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/booble.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/theme/jquery-ui-1.7.2.custom.css'}

%script{:type => 'text/javascript', :src => '/js/jquery-1.3.2.min.js' }
%script{:type => 'text/javascript', :src => '/js/jquery-ui-1.7.2.custom.min.js' }

:javascript
  var sliderPos = #{@slider_pos};
  var rootTree = #{@root_tree};
  var updatePeriod = 2 * 1000;

  function seekPercent(percent) {
    $.post("/playtime", { pos: percent + "%"});
  }

  function updatePercent() {
    $.get('/playtime', {}, function(data, textStatus) {
      $("#slider").slider('option', 'value', data);
    });

    setTimeout(updatePercent, updatePeriod);
  }

  function toggleExpandDir() {
    var parent = $(this).parent();
    var subtree = parent.children("ul");

    if(subtree.length != 0) {
      subtree.remove();
    } else {
      var url = "/media/" + $(this).text();

      $.getJSON(url, function(data){
        addSubtree(parent, data);
      });
    }
  }

  function playFile() {
    var path = $(this).text();
    $.post("/playfile", { path: path });
  }

  function addSubtree(parentEl, subtree) {
    var dirUl = $("<ul/>");
    parentEl.append(dirUl);

    var fileUl = $("<ul/>");
    parentEl.append(fileUl);

    $.each(subtree.directories, function(i, path) {
      var sub = $("<li class='directory'/>");
      var name = $("<span/>");

      name.append(path);
      sub.append(name);
      dirUl.append(sub);

      name.click(toggleExpandDir);
    });

    $.each(subtree.files, function(i, path) {
      var sub = $("<li class='file'/>");
      var name = $("<span/>");

      name.append(path);
      sub.append(name);
      fileUl.append(sub);

      name.click(playFile);
    });
  }

  $(document).ready(function(){
    $("#slider").slider({
      value: sliderPos,
      stop: function(event, ui) { seekPercent(ui.value); }
    });

    setTimeout(updatePercent, updatePeriod);

    addSubtree($("#tree"), rootTree);
  });

#header
  %ul
    %li
      %a{:href => '/media/'} media
    %li
      %a{:href => '/snes/'} snes
  %strong booble

#slider

#playlist
  %strong Playlist

  %form.button{:method => 'post', :action => '/clear'}
    %input{:type => 'submit', :value => 'clear'}

  %ul
    - $mp.playlist.each do |file|
      %li= File.basename(file)

#status
  #playing
    Playing:
    = $mp.playing()
  %form.button{:method => 'post', :action => '/pause'}
    %input{:type => 'submit', :value => 'play/pause'}
  %form.button{:method => 'post', :action => '/stop'}
    %input{:type => 'submit', :value => 'stop'}
  %form.button{:method => 'post', :action => '/backward'}
    %input{:type => 'submit', :value => '<<'}
  %form.button{:method => 'post', :action => '/forward'}
    %input{:type => 'submit', :value => '>>'}

#tree
