%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/booble.css'}

%script{:type => 'text/javascript', :src => '/js/jquery-1.3.2.min.js'}
%script{:type => 'text/javascript', :src => '/js/search.js'}

%title booble - searching media

#header
  %ul
    %li
      %a{:href => '/search'} search
    %li
      %a{:href => '/media/'} browse
  %strong booble

  %br

%form.search{:method => 'get'}
  %input{:name => 'q'}
  %input#search{:type => 'submit', :value => 'search'}

%ul#results
