html {
  background: #887766;
  color: #dddddd;
  font-size: 0.8em;
}

body {
  margin: 0 auto;
  padding: 5em 2em;
  max-width: 60em;
  background: #554444;
  border-left:  5px solid #222211;
  border-right: 5px solid #222211;
}

#header strong {
  font-size: 2em;
  color: #99bbaa;
}

#header ul {
  float: right;
}

#status {
  padding: 1em;
}

.button, .inline {
  display: inline;
}

input[type=submit] {
  background: #ccc;
}

#playlist {
  float: right;
  width: 30%;
}

#playlist td {
  font-size: 0.8em;
  border: 1px solid #888;
  background: #887766;
}

#playing {
  font-weight: bold;
}

#slider {
  clear: both;
  margin: 1em;
}

.cmd, a {
  color: #99bbaa;
  text-decoration: none;
}

#tree {
  width: 69%;
}

#tree .directory {
  color: #888;
}

#tree .directory .dirName, .cmd {
  cursor: pointer;
}

.cmd:hover, a:hover, .dirName:hover {
  text-decoration: underline;
}

.playAll {
  margin-left: 1em;
  float: right;
}

form.search {
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
}

.playcount {
  font-size: 0.6em;
  border: 1px solid red;
}
